{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <style>
        .navbar{
            display: flex;
            max-width: 100%;
            height: auto;
            justify-content: space-around;
            background-color: aqua;
            
        }
        .upperitem{
            display: flex;
            justify-content: space-around;
        }
    </style>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Simply Refurbished</title>
  </head>
  <body>
     <!-- NAVBAR  -->
    <div class="navbar" style="padding-top: 2%; padding-bottom: 2%;">
        <!-- LOGO IMAGE -->
        <a href="/"><img src="{% static 'images/logo_new_bg_removed.png' %}" class="logo"></a>
        <!-- BRAND TITLE  -->
        <a class="btn" href="{% url 'index-home' %}" role="button"><h1 style="font-family: Rubik Medium;"><i>Simply Refurbished</i></h1></a>
        <!-- <a class="btn btn-primary" href="{% url 'index-home' %}" role="button" style="margin-right: 5%;">Coupon</a> -->
        <div>
        {% if user.is_authenticated %}
          <h4>Hello {{ user.username }}</h4>
          <a id="cart" href="{% url 'cart_detail' %}"><button type="button" class="btn btn-info">Shop Cart</button></a>
          <a id="logout" href="{% url 'logout' %}"><button type="button" class="btn btn-warning">Logout</button></a>
        {% else %}
          <h4>You are not loged in</h4>
          <a id="login" href="{% url 'login' %}"><button type="button" class="btn btn-info">Login</button></a>
        {% endif %}
      </div>
    </div>

    <!-- Contents -->
    {% block content %}{% endblock content %}

    <!-- FOOTER -->

    <div class="footer">
      <h5 style="color: blanchedalmond;">© 2020 Simply-Refurbished</h5>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
