{% extends 'base.html' %}
{% block content %}
{% load static %}
<div style="margin-left: 20%; margin-top: 5%; margin-bottom: 5%;">
    <h1 style="color: azure;font-style: italic;font-weight: 700;">Buying Form</h2>
    <h5>Please Fill the Form Bellow</h5>
</div>
<form class="buyerform" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label style="font-size: 24px; font-weight: 500;">Name</label>
      <div>{{form.name}}</div>
    </div>
    <div class="form-group">
      <label style="font-size: 24px; font-weight: 500;">Items</label>
      <div>{{form.items}}</div>
    </div>
    <div class="form-group">
      <label style="font-size: 24px; font-weight: 500;">Total</label>
      <div>{{form.total}}</div>
    </div>
    <div class="form-group">
        <label style="font-size: 24px; font-weight: 500;">Address</label>
        <div>{{form.address}}</div>
      </div>
    <div class="form-group">
        <label style="font-size: 24px; font-weight: 500;">Email</label>
        <div>{{form.email}}</div>
      </div>
    <div class="form-group">
        <label style="font-size: 24px; font-weight: 500;">Phone Number</label>
        <div>{{form.phone}}</div>
      </div>
    <div class="form-group" style="margin-bottom: 25%;">
    <label style="font-size: 24px; font-weight: 500;">Coupon (Be Sure not to Lost it!)</label>
      <div>{{form.coupon}}</div>
    </div>
    <button type="submit" class="save" style="border-radius: 8px; background-color: aqua; font-weight: 500; font-size: 45px">Submit</button>
  </form>
  <br>
</div>




{% endblock content %}