{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="kupon-ajg">
  <h1>Got Any Coupons?</h1>
  <h2>You Can Search your Coupon Here</h2>
  <label style="font-size: 24px;">Enter Your 9-digits number Voucher Code</label>
  <input type="number" id="myInput" onkeyup="myFunction()" placeholder="XXXXXXXXX" min="9" max="9">
  <p>The item bellow will be discounted with the amount that your voucher provide</p>
  <ul id="myUL">
    <li><a href="{% url 'index-item1' %}">Voucher-X<p style="visibility: hidden;">001001200</p></a></li>
    <li><a href="{%  url 'index-item2' %}">Voucher-Y<p style="visibility: hidden;">002002100</p></a></li>
    <li><a href="{% url 'index-item3' %}">Voucher-Z<p style="visibility: hidden;">003003500</p></a></li>
    <li><a href="{% url 'index-item3' %}">Voucher-L<p style="visibility: hidden;">013003500</p></a></li>
  </ul>
</div> 

<script>
  function myFunction() {
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}
  </script>

{% endblock content %}

<!-- ITEM CARDS -->
        <!-- <div class="newItems">
          <div class="card" style="width: 18rem;">
            <img src="{% static 'images/iphonex.png' %}" class="card-img-top" alt="pepe">
            <div class="card-body">
              <h5 class="card-title">Iphone X Improved</h5>
              <p class="card-text">Everyone's favorite Iphone X<br>However,get more value than what you expected to pay! <br><br> </p><center>
              <a href="item1" class="btn btn-primary" >Buy Now!</a></center>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
              <img src="{% static 'images/a80.png' %}" class="card-img-top" alt="pepe">
              <div class="card-body">
                <h5 class="card-title">Samsung Galaxy A80 with Headphone Jack!</h5>
                <p class="card-text">You heard it! We offer the same Samsung A80 <b>WITH</b> headphone jack!<br></p><center>
                <a href="item2" class="btn btn-primary">Buy Now!</a></center>
              </div>
          </div>
          <div class="card" style="width: 18rem;">
              <img src="{% static 'images/mac.png' %}" class="card-img-top" alt="pepe">
              <div class="card-body">
                <h5 class="card-title">Macbook Air with Better Keyboard!</h5>
                <p class="card-text">Keyboards, what every macbook user dreads, but not with us!<br>We improved the keybord to be onpar with a mechanical keyboard<br></p><center>
                <a href="item3" class="btn btn-primary">Buy Now!</a></center>
              </div>
          </div>
        </div> -->
        <!-- END ITEM CARDS -->