
{% extends 'base.html' %}
{% block content %}
{% load static %}

<!-- CAROUSEL -->
<div id="carouselIndicator" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselIndicator" data-slide-to="0" class="active"></li>
      <li data-target="#carouselIndicator" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="wallpaper1" background-image="{% static 'images/bg.png' %}"style="align-items: center;">
          <h1 style="padding-top: 2%; color: white; font-weight: 900;">Welcome to Our Site</h1>
          <h4 style="padding-bottom: 15%;">Do you feel big Brand Companies ripping you off?<br>We will revolutionize the industry by offering more for the same prize!</h4>
        </div>
      </div>
      <div class="carousel-item">
        <h1 style="text-align: center; margin-top: 3%; margin-bottom: 3%;">Our Newly Arrived Products</h1>
        
          <!-- NEW ITEMS CARDS -->
          <div class="newItems">
            <div class="card" style="width: 18rem;">
              <img src="{% static 'images/iphonex.png' %}" class="card-img-top" alt="pepe">
              <div class="card-body">
                <h5 class="card-title">Iphone X Improved</h5>
                <p class="card-text">Everyone's favorite Iphone X<br>However,get more value than what you expected to pay! <br><br> </p><center>
                <a href="{% url 'index-item1' %}" class="btn btn-primary" >Buy Now!</a></center>
              </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="{% static 'images/a80.png' %}" class="card-img-top" alt="pepe">
                <div class="card-body">
                  <h5 class="card-title">Samsung Galaxy A80 with Headphone Jack!</h5>
                  <p class="card-text">You heard it! We offer the same Samsung A80 <b>WITH</b> headphone jack!<br></p><center>
                  <a href="{% url 'index-item2' %}" class="btn btn-primary">Buy Now!</a></center>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="{% static 'images/macbook-air.png' %}" class="card-img-top" alt="pepe">
                <div class="card-body">
                  <h5 class="card-title">Macbook Air with Better Keyboard!</h5>
                  <p class="card-text">Keyboards, what every macbook user dreads, but not with us!<br>We improved the keybord to be onpar with a mechanical keyboard<br></p><center>
                  <a href="{% url 'index-item3' %}" class="btn btn-primary">Buy Now!</a></center>
                </div>
            </div>
          </div>
          
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselIndicator" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselIndicator" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


<!-- BELOW CONTENT -->
<div class="choices">
    <a class="btn" href="{% url 'catalog' %}" role="button" style="margin-right: 5%; font-style: italic"><h4>Catalog</h4></a>
    <a class="btn" href="{% url 'transactionTable' %}" role="button" style="margin-right: 5%; font-style: italic"><h4>Transcaction History</h4></a>
</div>
<h1 align="center">Testimonies</h1>
<br><br>
<div class="row" style="margin-left:15%; margin-bottom: 17%; font-family: Roboto;">
    <div class="col-3">
      <img src="{% static 'images/kc.jpg' %}"class=smallimg>
    </div>
  <div class="col-3">
    <h3 style="font-size: 43px; font-weight: 500;text-transform: capitalize;">Kevin Constantine</h3>
    <p style="text-align: justify; font-size: 20px; ">These days, when I want to buy  gadgets, I feel like big brands keeps on increasing the price without any significant upgrade<br>Simply refurbished truly deliver the quality of the object deemed worthy for the same price tag</p>
  </div>
</div>

<div class="row" style="font-family: Roboto; padding-left: 48%; margin-bottom: 17%;">
  
  <div class="col-5">
    <h3 style="font-size: 43px; font-weight: 500;text-transform: capitalize;">I Nyoman Gede Gedar Marchiendo Pradnyana</h3>
    <p style="text-align: justify; font-size: 20px; ">I am tired of newer phones without a headphone jack! Now I need to use a dongle which cost $99 or buy a new bluetooth earphones which costs a lot with worse quality.Luckily <i>Simply Refurbished</i> offers the same phone but with headphone jack! Now i can enjoy my music!</p>
  </div>
  <div class="col-3" style="padding-left:3%">
    <img src="{% static 'images/nyoman.jpg' %}"class=smallimg>
  </div>
</div>

{% endblock content %}








