
{% extends 'base.html' %}
{% block content %}
{% load static %}

<!-- ITEM CARDS -->

  <div class="newItems" style="margin-top:3%; margin-bottom: 5%">
    <div class="card" style="width: 18rem;">
      <img src="{% static 'images/iphonex.png' %}" class="card-img-top" alt="pepe">
      <div class="card-body">
        <h5 class="card-title">Iphone X Improved</h5>
        <p class="card-text">Everyone's favorite Iphone X<br>However,get more value than what you expected to pay! <br><br> </p><center>
        <a href="{% url 'index-item1' %}" class="btn btn-primary" >Buy Now!</a></center>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="{% static 'images/a80.png' %}" class="card-img-top" alt="pepe">
        <div class="card-body">
          <h5 class="card-title">Samsung Galaxy A80 with Headphone Jack!</h5>
          <p class="card-text">You heard it! We offer the same Samsung A80 <b>WITH</b> headphone jack!<br></p><center>
          <a href="{% url 'index-item2' %}" class="btn btn-primary">Buy Now!</a></center>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="{% static 'images/macbook-air.png' %}" class="card-img-top" alt="pepe">
        <div class="card-body">
          <h5 class="card-title">Macbook Air with Better Keyboard!</h5>
          <p class="card-text">Keyboards, what every macbook user dreads, but not with us!<br>We improved the keybord to be onpar with a mechanical keyboard<br></p><center>
          <a href="{% url 'index-item3' %}" class="btn btn-primary">Buy Now!</a></center>
        </div>
    </div>
  </div>



{% endblock content %}