{% extends 'base.html' %}
{% block content %}
{% load static %}

    <div style="padding-top: 5%">
        <p style="font-family: Roboto;font-weight: 500;font-size: 40px;text-align: center;">Macbook Air 2019</p>
    </div>
    <table align="center" width="1200" cellpadding="30" >
        <tr>
            <td rowspan=10 width="300">
                <img src="{% static 'images/macbook-air.png' %}" class="smallimg">
            </td>
            <td width="100">Name: </td>
            <td width="800">Macbook Air 2019</td>

        </tr>
        <tr>
            <td>Year of Release:</td>
            <td>July 2019</td>
        </tr>

        <tr>
            <td>Display:</td>
            <td>
                13.3-inch, 2,560 x 1,600 Retina True Tone display (backlit LED, IPS)
                
            </td>
        </tr>
        <tr>
            <td>Size:</td>
            <td><br>Height: 8.36 inches (212.4 mm)
                <br>Width: 11.97 inches (304.1 mm)
                <br>Depth: 0.61 inch (15.6 mm)</td>
        </tr>
        <tr>
            <td>Weight:</td>
            <td>1.25 Kg</td>
        </tr>
        <tr>
            <td>VGA:</td>
            <td>Intel UHD Graphics 617
            </td>
        </tr>
        <tr>
            <td>Camera:</td>
            <td>720p FaceTime HD webcam</td>
        </tr>
        <tr>
            <td>Storage:</td>
            <td>256GB SSD </td>
        </tr>
        <tr>
            <td>Memory:</td>
            <td>8GB</td>
        </tr>
        <tr>
            
            <td>Chip:</td>
            <td>1.6GHz Intel Core i5-8210Y (dual-core, 4 threads, 4MB cache, up to 3.6GHz)</td>
        </tr>
        <tr>
            <td>Price: <b><h1 align="right"><strike>$1049.99</strike><br>$849.99</h1></b>(only with voucher)</td>
            <td>Connectivity:</td>
            <td><br>Bluetooth 4.2
                <br>2x Thunderbolt 3 (USB-C) 
                <br>3.5mm headphone jack </td>
            
        </tr>
        <tr><td><center><p>Go to our Catalog to buy it now!</p>
            <a href="{% url 'catalog' %}" class="btn btn-primary">Catalog</a>
        </center></td>
                <td colspan="2"><h1 align="center">
                    WHY BUY OURS?</h1>
                    <br>
                <h5>Feeling unpleasant from your Mac's keyboard? Feel like the keyboard is unresponsive?
                    <br>
                    <br> <center><h3>With just an extra $50 you will have a different experience!</h3> </center>
                    <br>Our Macbook is customed to have a keyboard with features so that it feels like you are typing on a mechanical keyboard</h5></td>
        </tr>
        
        

    </table>
    <center>
        <form class="status-form" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label align="center"><h1>&nbsp&nbspWrite Your Review:</h1></label>
                <br>
                {{statusss}}
            </div>
            &nbsp&nbsp&nbsp&nbsp<button type="submit" class="save btn-primary">Submit</button>
    
        </form>
    </center>
    <center>
        <br><h1>Reviews:</h1>
        
        <table align="Center" border=1>
            <tr width=400 align="center"><td>Name</td><td>Star</td><td width=800>Review</td> </tr>
            {% for data in Datass%}
            <div><tr align="center"><td>{{data.Name}}</td><td>{{data.Star}}</td><td>{{data.Review}}</td></tr></div>
            {% endfor %}
        </table>
    </center>
    <br><br>
{% endblock content %}