﻿{% extends 'base.html' %}
{% block content %}
{% load static %}

    <div style="padding-top: 5%">
        <p style="font-family: Roboto;font-weight: 500;font-size: 40px;text-align: center;">Iphone X 2017 Model</p>
    </div>
    <table align="center" width="1200" cellpadding="30" >
        <tr>
            <td rowspan=10 width="300">
                <img src="{% static 'images/iphonex.png' %}" class="smallimg">
            </td>
            <td width="100">Name: </td>
            <td width="800">Iphone X 2017 Model</td>

        </tr>
        <tr>
            <td>Year of Release:</td>
            <td>November 2017</td>
        </tr>

        <tr>
            <td>Display:</td>
            <td>
               5.8-inch diagonal all-screen OLED Multi-Touch display, featuring 2436 x 1125-pixel resolution at 458ppi and True Tone technology.
                
            </td>
        </tr>
        <tr>
            <td>Size:</td>
            <td><br>Height: 5.65 inches (143.6 mm)
                <br>Width: 2.79 inches (70.9 mm)
                <br>Depth: 0.30 inch (7.7 mm)</td>
        </tr>
        <tr>
            <td>Weight:</td>
            <td>6.14 ounces (174 grams)</td>
        </tr>
        <tr>
            <td>Battery Life:</td>
            <td>Apple claims that the iPhone X’s battery will last up to 2 hours longer than the iPhone 7. 
                <br>That should net you:
                
                    <br>&nbsp Talk time (wireless): Up to 21 hours
                    <br>&nbsp Internet use: Up to 12 hours
                    <br>&nbsp Video playback (wireless): Up to 13 hours
                    <br>&nbsp Audio playback (wireless): Up to 60 hours
            </td>
        </tr>
        <tr>
            <td>Camera:</td>
            <td>Back-facing camera: 12MP 
                <br>Front-facing camera: 7MP </td>
        </tr>
        <tr>
            <td>Storage:</td>
            <td>256GB </td>
        </tr>
        <tr>
            <td>Resistance:</td>
            <td>Splash, water, and dust resistance: Rated IP67 under IEC standard 60529, which means it can be submerged underwater for 30 minutes at a depth of 1 meter (slightly more than 3 feet).</td>
        </tr>
        <tr>
            
            <td>Chip:</td>
            <td>A11 Bionic chip</td>
        </tr>
        <tr>
            <td>Price: <b><h1 align="right"><strike>$730</strike>&nbsp&nbsp $629</h1></b>(only with voucher)</td>
            <td>Connectivity:</td>
            <td><br>Charging compatibility: Lightning port, wireless (Qi compatible)
                <br>Headphone jack? Nope. 
                <br>Home button? Nope. </td>
            
        </tr>
        <tr><td><center>
            <p>Go to our Catalog to buy it now!</p>
            <a href="{% url 'catalog' %}" class="btn btn-primary">Catalog</a>
        </center></td>
            
                <td colspan="2"><h1 align="center">
                    WHY BUY OURS?</h1>
                <h4>Our storage is 4 times larger than the same product at the same retail price (64GB)</h4></td>
        </tr>
        
        

    </table>
    <center>
    <form class="status-form" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label align="center"><h1>&nbsp&nbspWrite Your Review:</h1></label>
            <br>
            {{status}}
        </div>
        &nbsp&nbsp&nbsp&nbsp<button type="submit" class="save btn-primary" id="save">Submit</button>

    </form>
</center>
<center>
    <br><h1>Reviews:</h1>
    
    <table align="Center" border=1>
        <tr width=400 align="center"><td>Name</td><td>Star</td><td width=800>Review</td> </tr>
        {% for data in Data%}
        <div><tr align="center"><td>{{data.Name}}</td><td>{{data.Star}}</td><td>{{data.Review}}</td></tr></div>
        {% endfor %}
    </table>
</center>
    <br><br>
{% endblock content %}