{% extends 'base.html' %}
{% block content %}
{% load static %}

    <div style="padding-top: 5%">
        <p style="font-family: Roboto;font-weight: 500;font-size: 40px;text-align: center;">Samsung Galaxy A80 Refurbished</p>
    </div>
    <table align="center" width="1200" cellpadding="30" >
        <tr>
            <td rowspan=10 width="300">
                <img src="{% static 'images/a80.png' %}" class="smallimg">
            </td>
            <td width="100">Name: </td>
            <td width="800">Samsung Galaxy A80</td>

        </tr>
        <tr>
            <td>Year of Release:</td>
            <td>May 2019</td>
        </tr>

        <tr>
            <td>Display:</td>
            <td>
                <br>17.03cm (6.7") FHD+ (1080 x 2400)
                <br>Super AMOLED New Infinity Display
                <br>On-screen fingerprint 
                
            </td>
        </tr>
        <tr>
            <td>Size:</td>
            <td><br>Height: 6.50 inches (165.2 mm)
                <br>Width: 3.01 inches (76.5 mm)
                <br>Depth: 0.37 inch (9.3 mm)</td>
        </tr>
        <tr>
            <td>Weight:</td>
            <td>220 grams</td>
        </tr>
        <tr>
            <td>Battery Life:</td>
            <td>3,700mAh 
            </td>
        </tr>
        <tr>
            <td>Camera:</td>
            <td>Back-facing camera: 48MP 
                <br>Front-facing camera: 8MP </td>
        </tr>
        <tr>
            <td>Storage:</td>
            <td>128GB </td>
        </tr>
        <tr>
            <td>Memory:</td>
            <td>8GB</td>
        </tr>
        <tr>
            
            <td>Chip:</td>
            <td>Snapdragon 730G Octa-core</td>
        </tr>
        <tr>
            <td>Price: <b><h1 align="right"><strike>$549.99</strike>&nbsp&nbsp $499.99</h1></b>(only with voucher)</td>
            <td>Connectivity:</td>
            <td><br>Charging compatibility: USB Type-C
                <br>Headphone jack? YES!
                <br>Home button? Nope. </td>
            
        </tr>
        <tr><td><center><p>Go to our Catalog to buy it now!</p>
            <a href="{% url 'catalog' %}" class="btn btn-primary">Catalog</a>
        </center></td>
                <td colspan="2"><h1 align="center">
                    WHY BUY OURS?</h1>
                <h5>Miss Headphone Jack? We provide a <b>Headphone Jack</b> exclusively on our version</h5></td>
        </tr>
        
        

    </table>
    <center>
        <form class="status-form" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label align="center"><h1>&nbsp&nbspWrite Your Review:</h1></label>
                <br>
                {{statuss}}
            </div>
            &nbsp&nbsp&nbsp&nbsp<button type="submit" class="save btn-primary" id="save">Submit</button>
    
        </form>
    </center>
    <center>
        <br><h1>Reviews:</h1>
        
        <table align="Center" border=1>
            <tr width=400 align="center"><td>Name</td><td>Star</td><td width=800>Review</td> </tr>
            {% for datas in Datas%}
            <div><tr align="center"><td>{{datas.Name}}</td><td>{{datas.Star}}</td><td>{{datas.Review}}</td></tr></div>
            {% endfor %}
        </table>
    </center>
    <br><br>
{% endblock content %}