{% extends 'base.html' %}
{% block content %}
{% load static %}
    
    <div style="margin-left: 15%; margin-top: 5% ">
        <h1 style="font-style: italic;">Transaction<br>History</h1>
    </div>
    <div class="table">
        <table style="text-align: center; width: 150vh;">
            <tr style="font-weight: 700; background-color: aqua;">
                <th><h5>Name</h5></th>
                <th><h5>Coupon</h5></th>
                <th><h5>Total</h5></th>
                <th><h5>Items</h5></th>
                <th><h5>Date</h5></th>
            </tr>
            {%for data in Data%}
            <tr>
                <th><p>{{data.name}}</p></th>
                <th><p>{{data.coupon}}</p></th>
                <th><p>{{data.total}}</p></th>
                <th><p>{{data.items}}</p></th>
                <th><p>{{data.date}}</p></th>
            </tr>
            {%endfor%}
        </table>
    </div>

    {% endblock content %}

