{% extends 'base.html' %}
{% block content %}
{% load static %}
    <div style="margin-left: 15%; margin-top: 5% ">
        <h1 style="font-style: italic;">{{ user.username }}'s<br>Shopping Cart</h1>
    </div>
    <div class="table" style="padding-bottom: 6vh;">
        {% if request.session.cart|length > 0 %}
        <table style="text-align: center; width: 150vh;">
            <tr style="font-weight: 700; background-color: aqua;">
                <th><h5>Name</h5></th>
                <th><h5>Price</h5></th>
                <th><h5>Quantity</h5></th>
                <th></th>
                <th></th>
            </tr>
            {% for key, value in request.session.cart.items %}
            <tr>
                
                    <th><p>{{value.name}}</p></th>
                    <th><p>{{value.price}}</p></th>
                    <th><p>{{value.quantity}}</p></th>
                    <th><a href="{% url 'item_increment' value.product_id %}">Increment</a></th>
                    <th>{% if value.quantity > 1 %}
                            <a href="{% url 'item_decrement' value.product_id %}">Decrement</a>
                        {% elif value.quantity == 1 %}
                            <a href="{% url 'item_clear' value.product_id %}">Decrement</a>
                        {% endif %}
                    </th>
                    
            </tr>
            {% endfor %}
        </table>
        <td><center><a href="{% url 'buyform' %}" class="btn btn-lg btn-success" >Buy</a></center>
        
    </div>
    <div class="sign-empty">
        {% else %}
            <h3>Your cart seems empty... <br>
            To buy our product please visit our catalog</h3>
            <a href="{% url 'catalog' %}"><button type="button" class="btn btn-dark">Catalog</button></a>
        {% endif %}
    </div>
{% endblock content %}