{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class='reminder' style="padding: 10vh 0 0 25vh">
    <h1 style="color: white; font-style: italic; font-weight: 600;">Welcome to Our Catalog</h1>
    {% if request.session.cart|length > 0 %}    
        <p>You have add something into your shopping cart, please check it out!</p>
        <a id="cart" href="{% url 'cart_detail' %}"><button type="button" class="btn btn-info">Shop Cart</button></a>
    {% endif %}
</div>
{% for x in products %}
<div style="padding-top: 5%">
    <p style="font-family: Roboto;font-weight: 500;font-size: 35px;text-align: center;">{{ x.name }}</p>
</div>
<table align="center" width="1200" cellpadding="30" >
    <tr>
        <td rowspan=10 width="300">
            {% if x.image == "iphonex.png"%}
            <img src="{% static 'images/iphonex.png' %}" class="smallimg">
            {% elif x.image == "a80.png"%}
            <img src="{% static 'images/a80.png' %}" class="smallimg">
            {% elif x.image == "macbook-air.png"%}
            <img src="{% static 'images/macbook-air.png' %}" class="smallimg">
            {% else %}
            <img src="{%static 'images/notfound.jpg'%}" class="smallimg">
            {%endif%}
        </td>
        <td width="100">Name: </td>
        <td width="800">{{ x.name }}</td>

    </tr>
    <tr>
        <td>Year of Release:</td>
        <td>{{ x.year }}</td>
    </tr>
    <tr>
        <td><center><a href="{% url 'cart_add' x.id %}" class="btn btn-success" id="addtocart" >Add to Cart</a></center></td>
        <td>Price: <b><h1>${{ x.price }}</h1></b></td>
    </tr>
</table>
<br><br><br><br><br><br>
{% endfor %}
{% endblock content %}
