{% extends 'base.html' %}
{% block content %}
{% load static %}

<!-- SignUp Form -->
<div class="login">
    <h2>Login</h2>
    {% if user.is_authencticated %}
        <h3>You are already logged in!</h3>
        <h4>Please log out first</h4>
        <a id="logout" href="{% url 'logout' %}"><button>Logout</button></a>
    {% else %}
        <form method="POST">
            {% csrf_token %}
            {{ form.as_ul }}
            <button id="submit" type="submit">Login</button>
        </form>
        <p>Doesn't have an Account yet?</p>
        <a id="signup" href="{% url 'signup' %}"><button>Signup</button></a>
</div>
{% endif %}

{% endblock content %}