    .html{
        overflow-x: hidden;
    }
    .navbar{
        display: flex;
        max-width: 100%;
        height: auto;
        justify-content: space-around;
        background-color: aqua;
        
    }
    .carousel{
        max-width: 100%;
        height: 50%;
    }
    .wallpaper1{
      display: grid;
      text-align: center;
      height: 76vh;
      background-image: linear-gradient(to bottom right, #7fcd91, #5b5656);
    }
    .wallpaper2{
        max-width: 100%;
        height: 20vh;
    }

    .newItems{
        display: flex;
        justify-content: space-around;
    }
    .choices{
        display: flex;
        margin-left: 10%;
        justify-content: space-around;
        margin-top: 20%;
        margin-bottom: 20%;
    }
    .footer{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: black;
      padding-top: 3%;
      padding-bottom: 3%;
    }
    .table{
        display: grid;
        justify-content: center;
        margin-top: 5%;
    }
    body{
        background-color: gray;
    }
    .smallimg{
        width:300px;
        height:400px ;
    }
    .buyerform{
        display: grid;
        justify-content: center;
    }

    .logo{
        height: auto;
        width: 200px;
    }
    .card-body{
        background-color: #5b5656 ;
    }
    .card{
        background-color: gray;
    }

      
      #myInput {
        background-image: url('/css/searchicon.png');
        background-position: 10px 12px;
        background-repeat: no-repeat;
        width: 100%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
      }
      
      #myUL {
        list-style-type: none;
        padding: 0;
        margin: 0;
      }
      
      #myUL li a {
        border: 1px solid #ddd;
        margin-top: -1px; /* Prevent double borders */
        background-color: #f6f6f6;
        padding: 12px;
        text-decoration: none;
        font-size: 18px;
        color: black;
        display: block
      }
      
      #myUL li a:hover:not(.header) {
        background-color: #eee;
      }
      .kupon-ajg{
          display: block;
          margin-left: 25%;
          margin-bottom: 10%;
          max-width: 50%;
      }

      .itemList{
          display: flex;
      }

      .reminder{
          padding-left: 25vh;
          padding-top: 20vh;
      }